* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  background: radial-gradient(
    circle at 50% 0%,
    rgba(31, 55, 86, 1) 35%,
    rgba(20, 22, 57, 1) 66%
  );
}
.winner {
  box-shadow: rgba(255, 255, 255, 0.03) 0px 0px 0px 60px,
    rgba(255, 255, 255, 0.02) 0px 0px 0px 130px,
    rgba(255, 255, 255, 0.016) 0px 0px 0px 210px !important;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.top {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid hsl(217, 16%, 45%);
  padding: 25px;
  border-radius: 20px;
}
.right {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px 35px;
  border-radius: 20px;
}
.right .score__name {
  font-size: 13px;
  color: hsl(229, 64%, 46%);
  letter-spacing: 2px;
  font-weight: 600;
}
.score {
  font-size: 45px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}
.bottom {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  height: 58vh;
  position: relative;
}
.triangle {
  position: absolute;
  z-index: -1;
}
.circles {
  /* background-color: white; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -7px 0px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.circles:hover {
  transform: scale(1.1);
}
.wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: inset 0px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.paper {
  background-image: linear-gradient(
    to bottom,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}
.scissors {
  background-image: linear-gradient(
    to bottom,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
}
.rock {
  background-image: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  grid-column: 1/3;
}
.bottom .circles:last-child {
  grid-column: 1/3;
}
.animate-rock {
  animation: move-rock 0s ease-in-out forwards;
}
@keyframes move-rock {
  0% {
    grid-column: 1/3;
  }
  100% {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.animate-scissors {
  animation: move-scissors 0s ease-in-out forwards;
}
@keyframes move-scissors {
  0% {
    grid-column: 2/3;
  }
  100% {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.none {
  display: none;
}
.made {
  display: flex;
  grid-column: 3/4 !important;
  grid-row: 1/3 !important;
  width: 275px;
  height: 275px;
  align-self: center;
  justify-self: center !important;
}
.selected {
  grid-row: 1/3 !important;
  align-self: center;
  justify-self: center;
  width: 275px;
  height: 275px;
  pointer-events: none;
  cursor: not-allowed;
  grid-column: 1/2;
}
.made .wrapper,
.selected .wrapper {
  width: 225px;
  height: 225px;
}
.made .wrapper img,
.selected .wrapper img {
  width: 30%;
}
.col {
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-template-rows: 1fr 1fr !important;
  width: 60% !important;
  margin-top: 50px;
  place-items: center !important;
}
.reset-div {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset-h1 {
  color: white;
  font-size: 50px;
}
.play-again {
  width: 100%;
  height: 53px;
  font-size: 20px;
  color: hsl(229, 25%, 31%);
  background: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.play-again:hover {
  color: hsl(349, 71%, 52%);
}
.rules {
  position: absolute;
  right: 2%;
  bottom: 5%;
  padding: 8px 45px;
  background: transparent;
  color: white;
  border: 2px solid hsl(217, 16%, 45%);
  font-size: 20px;
  border-radius: 11px;
  cursor: pointer;
}
.modal {
  transition: all 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  padding: 30px;
  z-index: 2;
  transition-delay: 0.1s;
  border-radius: 13px;
  transform: translateY(-5000px) translateX(-50%);
}
.dropModal {
  transform: translateY(-50%) translateX(-50%) !important;
}

.top-modal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.cross {
  cursor: pointer;
}
.overlay {
  transition: all 0.75s ease-in-out;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transform: translateY(-5000px);
}
.dropOverlay {
  transform: translateY(0) !important;
}
.house,
.you {
  color: white;
  display: none;
  align-self: flex-start;
  justify-self: center;
  letter-spacing: 3px;
  font-size: 35px;
}
.you {
  grid-column: 1/2;
  grid-row: 1/2;
}
.house {
  grid-column: 3/4;
  grid-row: 1/2;
}
.h1__show {
  display: block;
}
@media screen and (max-width: 414px) {
  .house,
  .you {
    text-align: center;
  }
  .rock {
    grid-column: 1/3;
  }
  .bottom {
    width: 100%;
  }
  .top {
    width: 95%;
  }
  .col {
    width: 100% !important;
    grid-template-rows: 1fr 1fr 1fr !important;
  }
  .made .wrapper,
  .selected .wrapper {
    width: 120px;
    height: 120px;
  }
  .made,
  .selected {
    width: 150px;
    height: 150px;
    grid-row: 2/3 !important;
  }
  .reset-div {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .rules {
    right: 50%;
    bottom: -10%;
    transform: translateX(50%);
  }
}
